.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ingredients-content {
  border: black 20px;
  width: 40%;
}

.ingredients-content button img {
  margin: 0 20%;
}

.ingredients-content button div {
  text-align: center;
}

.button-explore-ingredients {
  font-size: 0.9em;
  height: auto;
  width: 100%;
}
