.explore-by-origin-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.explore-by-origin-container .selector-container {
  width: 90%;
}

.origin-selector-dropdown {
  font-size: 1.5em;
  height: 2.5em;
  margin: 2em;
  width: 70%;
}