.favorite-button {
  display: inline-block;
  position: relative;
}

.favorite-button button {
  all: unset;
  cursor: pointer;
}

.is-favorite {
  background-color: black;
}

.is-not-favorite {
  background-color: white;
}
