.filter-bar {
  display: flex;
  justify-content: space-around;
  margin: 2em auto;
  text-align: center;
}

.filter-bar button {
  all: unset;
  background: #c4c4c4;
  border-radius: 7.5%;
  font-size: 1.5em;
  height: 2.5em;
  width: 30%;
}
