.recipes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 60px;
  min-width: 100%;
}

.recipe-content {
  border: solid 2px black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 7px;
  max-width: 40%;
  padding: 5px;
  text-align: center;
}

.recipe-thumbnail {
  padding: 5%;
  width: 90%;
}

.recipe-category {
  font-size: 1em;
  font-style: italic;
}

.recipe-name {
  font-size: 1em;
  font-weight: 800;
}
