.details-container {
  margin-bottom: 50px;
}

.start-button {
  bottom: 1%;
  left: 1%;
  position: fixed;
}

.start-button:disabled {
  background-color: grey;
}

.share-favorite-container {
  display: flex;
  position: absolute;
  right: 15vw;
  top: 110vw;
}
