.recipes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  min-width: 100%;
}

.recipe-content {
  border: solid 2px black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  min-height: 170px;
  min-width: 160px;
  padding: 5px;
  text-align: center;
  width: 30%;
}

.recipe-thumbnail {
  padding: 5%;
  width: 90%;
}

.recipe-category {
  font-size: 1em;
  font-style: italic;
}

.recipe-name {
  font-size: 1em;
  font-weight: 800;
}
