.share-button {
  position: relative;
}

.share-button button {
  all: unset;
  cursor: pointer;
}

.share-button .tooltip-text {
  background-color: #555;
  border-radius: 6px;
  bottom: 105%;
  color: white;
  left: 50%;
  margin-left: -139px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  visibility: hidden;
  width: 140px;
  z-index: 1;
}

.share-button .tooltip-text:after {
  border-color: #555 transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: '';
  left: 91%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
}

.share-button:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}
